<a href="https://colab.research.google.com/github/OsheenRayeen02/bank-website-/blob/main/Netflix_movies_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**apriori**

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5956 sha256=809adba3213ead82c29dffc2db857b7372185e6619604e9588ef0680dbf41726
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

**Importing Libraries**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Importing Dataset

In [ ]:
dataset = pd.read_csv('Netflix Movie Recommendation.csv', header = None)
transcations = []
for i in range(0,7466):
  transcations.append([str(dataset.values[i,j]) for j in range(0,20)])

Eclat Training on data

In [ ]:
from apyori import apriori
rules = apriori(transactions=transcations, min_support = 0.003 , min_confidence = 0.2 , min_lift = 3 ,min_length = 2, max_length = 2)

VISUILIZING DATA

In [ ]:
results = list(rules)

In [ ]:
results

Proper Display

In [11]:
def inspect(results):
  movie_1 = [tuple(result[2][0][0])[0] for result in results]
  movie_2 = [tuple(result[2][0][1]) [0] for result in results]
  supports = [result[1] for result in results]
  return list(zip(movie_1,movie_2,supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns=['Movie 1',' Movie 2', 'Support'])

In [13]:
resultsinDataFrame

                   Movie 1                   Movie 2   Support
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008036
3          Game of thrones             Prision Break  0.004554
4           Harry Potter 1            Harry Potter 2  0.005759
5           Harry Potter 1     The Lord of the rings  0.005090
6    crimes of grindelwald            Harry Potter 2  0.005759
7             Interstellar                 inception  0.015939
8  The Wolf of Wall Street                 inception  0.005358

In [15]:
resultsinDataFrame.nlargest(n = 10 ,columns = 'Support')

                   Movie 1                   Movie 2   Support
7             Interstellar                 inception  0.015939
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008036
4           Harry Potter 1            Harry Potter 2  0.005759
6    crimes of grindelwald            Harry Potter 2  0.005759
8  The Wolf of Wall Street                 inception  0.005358
5           Harry Potter 1     The Lord of the rings  0.005090
3          Game of thrones             Prision Break  0.004554
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215